body {
  padding-top:100px;
  background-image:url('/file/images/bg_grey.gif') !important;
  background-repeat: repeat;
}

#footer {
  background-image:url('/file/images/bg_grey.gif') !important;
  background-repeat: repeat;
  color: #fff;
}
.bullets { 
  margin-top:0px;
}

a {
  color: #d2492a;
  text-decoration:none;
}
.image-slide {
  width: 100%;
  top: 0px;
}

